body{
    background-color: green;
    margin-top: -20px;
}
#wrapper{
    height: 750px;
    width: 600px;
    margin: 0 auto;
}

#header{
    width: 600px;
    height: 75px;
    background-color: red;
    text-align: center;
}

#nav1{
    background-color: pink;
    width: 240px;
    height: 75px;
    float:left;
}

#nav2{
    background-color: orange;
    width: 360px;
    height: 75px;
    float: left;

}

#content{
    width: 600px;
    height: 550px;
    background-color: blue;
    float: left;
}

#footer{
    background-color: yellow;
    width: 600px;
    height: 50px;
    clear: both;
}

#content p{
    margin-top: 0;
}

p{
    font-weight: bold;
}
