.slide-animation {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
/* ------------------------- */

.grow-slide {
    animation-duration: 3s;
    animation-name: slidein2;
}

@keyframes slidein2 {
    from {
        margin-left: 100%;
        width: 300%;
    }

    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* ----------------------------------------- */

body{
    background-color: #BADFE7;
}

#wrapper{
    width: 850px;
    height: 1350px;
    margin: 0 auto;
}

#nav-top{
    width: 850px;
    height: 120px;
    background-color: #BADFE7;
    position: fixed;
    margin-top: -130px;
}

#nav-top a, input, .user{
    margin-top: -50px;
    margin-right: 10px;
    position: relative;
    top: -55px;
}

#nav-top button{
    font-size: 16px;
}

#nav-top img{
    width: 120px;
    height: 120px;
    padding-right: 20px;
}

input{
    margin-left: 80px;
}

#bod2{
    margin-top: 130px;
}

#text-content-css{
    width: 500px;
    height: 850px;
    float: left;
}

#img-content-css{
    float: right;
    width: 350px;
    height: 850px;
    padding-top: 15px;
}

#img-content-css img, pre{
    width: 200px;
    height: 200px;
    margin-top: -20px;
    padding-left: 80px;
    padding-bottom: 90px;
}

#mid{
    padding-bottom: 80px;
}

#foot{
    width: 850px;
    height: 200px;
    clear: both;
    padding-top: 35px;
    background-color: #388087;
    text-align: center;
}

#foot p, a{
    color: #C4F1Fe;
}

.link{
    margin: 15px;
}

#animations{
    text-align: center;
    clear: both;
}

#animation-code{
    width: 300px;
    height: 600px;
    float: left;
    text-align: left;
    padding-top: 45px;
}

#animations-text{
    width: 530px;
    height: 600px;
    float: right;
    text-align: left;
    margin-left: 20px;
}

button{
    border-radius: 12px;
    border: 2px solid lightgreen;
    background-color: #C2EDCE;
    padding: 5px 12px;
    transition-duration: 0.4s;
}

button:hover{
    background-color: #C4F1Fe;
}

.move{
    margin-top: 80px;
}

.bold{
    font-size: 14px;
    font-weight: bold;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

hr{
    height: 3px;
    width: 850px;
    background: black;
}

h2{
    text-decoration: underline;
}

.transform{
    font-size: 24px;
    text-decoration: underline;
}

.icon img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    padding-bottom: 20px;
}




