#wrapper{
    width:1100px;
    height: 1400px;
    margin: 0 auto;
}

#header{
    position: fixed;
    width:300px;
    height:70px;
    left: 0;
    top: -15px;
    background-color: lightblue;
    font-family: "Apple Chancery", "cursive";
    margin-top: -5px;
    z-index: 5;
}

#nav-bar li{
    list-style-type: none;
    display: inline-block;
    margin: 50px;
    text-decoration: none;
}


#img-1, #img-2{
    position: relative;
    float: left;
    top: -10px;
}

#content{
    clear: both;
    margin-top: 70px;
}

img{
    width: 550px;
}

.hn{
    color: crimson;
    font-size: 27px;
}

.huge{
    font-size: 25px;
    font-weight: bold;
}

.case{
    text-transform: uppercase;
}


body{
    background-color: antiquewhite;
    font-family: "Times New Roman", "serif";
}

#footer{
    position: absolute;
    width: 1100px;
    height: 200px;
    background-color: lightcyan;
    text-align: center;
}

.font{
    font-family: "Comic Sans MS", "cursive";
}

p{
    font-size: 17px;
}

div ol, ul{
    font-size: 20px;
}

.color{
    color: green;
}

div li{
    text-decoration: underline;
}

li a, ol a{
    text-decoration: none;
    color: deepskyblue;
}

ul{
    background-color: rgba(240, 255, 240, 50%);
}

h3 + p{
    text-decoration: line-through;
}